

/* Define font sizes */
html {
    font-size: 16px; /* Base font size */
  }
  
  h1 {
    font-size: 3.815rem;
  }
  
  h2 {
    font-size: 3.052rem;
  }
  h3 {
    font-size:2.441rem;
  }
  h4 {
    font-size: 1.953rem;
  }
  h5 {
    font-size: 1.563rem;
  }
  h6 {
    font-size: 1.25rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  /* Define line heights */
  body {
    line-height: 1.6;
  }
  
  /* Define font weights and styles */
  strong {
    font-weight: bold;
  }
  

  /* Extra Small Devices (Mobile Phones) */
@media screen and (max-width: 575px) {
    /* CSS rules for extra small devices */
    html {
        font-size: 10px; /* Base font size */
      }
  }
  
  /* Small Devices (Tablets) */
  @media screen and (min-width: 576px) and (max-width: 767px) {
    /* CSS rules for small devices */
    html {
        font-size: 12px; /* Base font size */
      }
  }
  
  /* Medium Devices (Laptops and Desktops) */
  @media screen and (min-width: 768px) and (max-width: 991px) {
    /* CSS rules for medium devices */
    html {
        font-size: 14px; /* Base font size */
      }
  }
  
  /* Large Devices (Large Desktops) */
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    /* CSS rules for large devices */

  }
  
  /* Extra Large Devices (Extra Large Desktops) */
  @media screen and (min-width: 1200px) {
    /* CSS rules for extra large devices */
  }
  